head {
  font-size: 18px;
  line-height: 1.4;
}

body {
  font-family: Helvetica;
  font-size: 1rem;
}

.show_mobile, .show_mobile a {
  display: none;
}

.backgnd, .backgnd_img {
  height: 30rem;
  width: 100%;
}

.backgnd_img {
  position: absolute;
  top: 0rem;
  left: 0rem;
  background-image: url("../glasses-bg.png");
  background-size: cover;
  background-position: center;
}

.container {
  width: 960px;
  position: absolute;
  top: 0rem;
  left: 50%;
  margin-left: -480px;
  display: flex;
  flex-direction: column;
  overflow: visible;
}

.banner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: cadetblue;
  margin-top: 1rem;
  margin-bottom: 10rem;
}

.banner div.show_desktop {
  display: flex;
  align-items: center;
}

.banner img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

.banner span {
  margin: 1rem 0rem;
  color: white;
}

.banner a {
  color: white;
  text-decoration: none;
  margin-right: 2rem;
}

.block {
  position: relative;
  left: 2rem;
  display: flex;
  justify-content: flex-end;
}

.block span {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2rem;
  padding: 1.5rem 5rem;
  background-color: white;
  text-transform: uppercase;
}

.benefits {
  display: flex;
  justify-content: center;
  width: 100%;
}

.benefits div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 8rem;
  width: 5rem;
  margin: 3rem 3rem;
}

.benefits .image3-5 img {
  width: 3.5rem;
  height: auto;
}

.benefits .image5 img{
  width: 5rem;
  height: auto;
}

.benefits span {
  text-align: center;
}

.description {
  display: flex;
  justify-content: center;
}

.description div {
  width: 35%;
  margin-right: 5%;
}

.description h3 {
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  background-color: cadetblue;
  width: 10rem;
  padding: 0.5rem 1.25rem;
  margin-bottom: 1rem;
}

.description p {
  margin-bottom: 4rem;
}

footer {
  display: flex;
  align-items: center;
  margin-top: 5rem;
  background-color: azure;
}

footer img {
  height: 1.5rem;
  padding: 4rem 1rem 4rem 4rem;
}

@media only screen and (max-width: 960px) {
  .backgnd, .backgnd_img {
    height: 22rem;
  }

  .container {
    width: 100%;
    position: absolute;
    top: 0rem;
    left: 0rem;
    margin-left: 0px;
  }

  .banner {
    margin-top: 0rem;
    margin-bottom: 5rem;
  }

  .block {
    left: 0rem;
    margin-right: 2rem;
  }

  .block span {
    font-size: 1.33rem;
    padding: .75rem 4rem;
  }
}

@media only screen and (max-width: 550px) {
  .backgnd, .backgnd_img {
    height: 17rem;
  }

  .backgnd_img {
    background-position: 20%;
  }

  .show_desktop, .show_desktop a {
    display: none;
  }

  .show_mobile, .show_mobile a {
    display: flex;
    align-items: center;
  }

  .banner {
    margin-bottom: 9rem;
  }

  .block {
    margin-right: 0rem;
    width: 100%;
  }

  .block span {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    padding: 0.5rem 0rem;
  }

  .benefits {
    flex-direction: column;
    align-items: center;
    margin: 3rem 0rem;
  }

  .benefits div {
    height: auto;
    margin: 0.77rem 0rem;
  }

  .benefits span {
    margin-top: 0.77rem;
    font-size: 0.77rem;
  }

  .description {
    flex-direction: column;
  }

  .description div {
    flex-direction: column;
    width: 100%;
    margin-right: 0%;
  }

  .description h3 {
    width: 100%;
    text-align: center;
  }

  .description p {
    font-size: 0.77rem;
    margin-bottom: 4rem;
  }

  footer {
    margin-top: 1rem;
  }


}
